.button {
  display: flex;
  height: 4rem;
  flex: 1;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4rem;
  background-color: white;
  color: grey;
  outline: 1px solid green;
}

.operator {
  background-color: blue;
}
