.app {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;

  justify-content: center;
}

.cal-wrapper {
  width: 400px;
  height: 600 px;
}

.row {
  display: flex;
  width: 100%;
}
